th {
  padding: 15px 25px;
}

td {
  text-align: center;
}

.icon {
  padding: 0 10px;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
}

td img{
    width: 100px;
    border-radius: 15px;
}
